#****************************************************************
#Copyright (c) 2009  Larence Livermore National Security (LLNS)
#All rights reserved.
#****************************************************************
#  Description:
#
#     Files that git should ignore...
#
#****************************************************************

.emacs*
*.elc
/url
auto-save-list*
TAGS
*~
*.cache
*.DS_Store
*.a
*.o
*.pyc
*.egg
*#*
*.md5
semantic.cache*
generated/
/build
/backup
repl-port
*.swp
